$primary-color : #fff;
$secondary-color : #2AA700;
$tertiary-color : #108A00;
$primary-font : #108A00;
$secondary-font : #108A00;


@tailwind base;
@tailwind components;
@tailwind utilities;

@import './partials/navbar';
@import './partials/caroussel';
@import './partials/popup';
@import './partials/card';
@import './partials/cart';
@import './partials/form';

@font-face {
    font-family: 'Varela';
    src: url(fonts/VarelaRound-Regular.ttf);
}
@font-face {
    font-family: 'OpenBold';
    src: url(fonts/OpenSans-Bold.ttf);
}

body {
    background-color: $primary-color;
    margin: 0 auto;

    div#root {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;

        main {
            padding: 64px 0 0 0;

            .container_presentation {
                position: relative;

                &_img {
                    width: 100%;
                    min-height: 60vh;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 3%;
                }

                &_text {
                    position: absolute;
                    top: 4%;
                    right: 30%;
                }
            }

            .container_description {
                padding: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .container_top {
                    &_text {
                        font-size: 1.5em;
                        padding-bottom: 50px;
                    }
                }

                .container_bottom {
                    width: 80%;
                    display: flex;
                    justify-content: space-between;

                    &_button {
                        border: black 1px solid;
                        padding: 5px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

h1 {
    color: $secondary-color;
    font-size: 2.4em;
    font-family: 'OpenBold';
}

h2 {
    color: $secondary-color;
    font-size: 2.5em;
}