$primary-color : #fff;
$secondary-color : #2AA700;
$tertiary-color : #108A00;
$primary-font : #108A00;
$secondary-font : #108A00;


@tailwind base;
@tailwind components;
@tailwind utilities;

@import './partials/navbar';
@import './partials/caroussel';
@import './partials/popup';
@import './partials/card';
@import './partials/form';
@import './partials/banner';
@import './partials/profile';

@font-face {
    font-family: 'Varela';
    src: url(fonts/VarelaRound-Regular.ttf);
}
@font-face {
    font-family: 'OpenBold';
    src: url(fonts/OpenSans-Bold.ttf);
}

body {
    background-color: $primary-color;
    margin: 0 auto;

    div#root {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;

        main {
            padding: 64px 0 0 0;
            margin: 20px 0;
        }
    }
}

h1 {
    color: $secondary-color;
    font-size: 2.4em;
    font-family: 'OpenBold';
}

h2 {
    color: $secondary-color;
    font-size: 2.5em;
}

h3 {
    color: black;
    font-size: 1.5em;
    font-weight: 400;
}
