$primary-color : #eae9e4;
$secondary-color : #2AA700;
$tertiary-color : #108A00;
$primary-font : #108A00;
$secondary-font : #108A00;



@tailwind base;
@tailwind components;
@tailwind utilities;

@import './partials/main';
@import './partials/navbar';



body{
    background-color: $primary-color;
    margin: 0 auto;
}
div#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
h1{
    color: $secondary-color;
}
h2{
    font-size: 2em;
}