
.title-market{
  font-size: 3rem;
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
  font-family: 'Varela';
  margin-bottom: 50px;
  color: $secondary-color;
}

  .card {
    width: 100%;
    margin: 0 auto;
    &_container{
      display: grid; 
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-gap: 35px;
    }
    &_body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width: 280px;
      height: 410px;
      margin: 0 auto;
      background: white;
      padding: 20px;
      text-align: center;
      background: white;
      color: black;
      transition: 0.6s;
      box-shadow: 0 30px 50px rgba(0,0,0,.2);
    }
    &_body:hover {
      box-shadow: 0 30px 50px rgba(0,0,0,.4);
    }
  }

  .item {
    text-align: center;
    &_container {
      border-radius: 50%;
      height: 100px;
      width: 100px;
      border: 3px solid $secondary-color;
      display: inline-block;
      overflow: hidden; 
      &_img {
        height: 100%;
        transform: scale(0.95); 
    }
    }
   
    &_name {
      font-size: 20px;
      margin: 0;
    }
    &_description{
    font-size: 14px;
    color: grey;
    margin: 8px 0;
    }
    &_price {
      font-weight: bold;
      margin: 10px;
    }
  }
  
  .button_addtocart {
    color: #fff; 
    padding: 10px 20px;
    border: solid $secondary-color;
    color: $secondary-color;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      color: white;
    background-color: $secondary-color;
    }
  }
  


 