.section_form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding-top: 50px;
    width: 100%;
    .box {
        position: relative;
        background-color: $secondary-color;
        padding: 25px;
        border-radius: 10px;
        h2 {
            color: #fff;
        }
        
        form{
            width: 300px;
            .alert {
                padding: 0.75rem 1.25rem;
                margin-bottom: 1rem;
                border: 1px solid transparent;
                border-radius: 0.25rem;
                color: #721c24;
                background-color: #f8d7da;
                border-color: #f5c6cb;
            }
            label{
                color: #fff;
            }
            .inputBox {
                position: relative;
                width: 100%;
                background-color: #fff;
                padding: 5px;
                border-radius: 5px;
                box-shadow: 0 5px 10px;
                margin-bottom: 18px;
                &_input {
                    position: relative;
                    outline: none;
                    border: none;
                    padding: 11px 5px;
                    font-size: 1rem;
                    line-height: 1.5;
                    background-color: #fff;
                    background-clip: padding-box;
                    width: 80%;
                    box-shadow:none;
                    --tw-ring-color: none;
                }
                #toggleBtn {
                    position: absolute;
                    top: 8px;
                    right: 10px;
                    width: 34px;
                    height: 34px;
                    background: rgba(0,0,0,0.05);
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                #toggleBtn::before {
                    content: '\f06e';
                    font-family: fontAwesome; 
                }
                #toggleBtn.hide::before {
                    content: '\f070';
                }
            }
            .validation {
                background-color: rgba(134, 46, 111, 0.469);
                padding: 10px;
                margin-top: 30px;
                border-radius: 8px;
                box-shadow: 0 5px 10px;
                &_list {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    margin: 0;
                    li {
                        position: relative;
                        list-style: none;
                        font-size: 0.90em;
                        transition: 0.5s;
                        color: $primary-color;
                    }
                    li.valid {
                        color: #0f0;
                    }
                    li.valid::before {
                        content: '\f00c';
                        color: #0f0;
                    }
                    li::before {
                        content:'\f192';
                        color: $primary-color;
                        width: 20px;
                        height: 10px;
                        font-family: fontAwesome;
                        display: inline-flex;
                    }
                }
            }
            .form-btn {
                margin: 20px 0 10px 0;
            }    
            .txt-noaccount {
                color: white;
            }
        
            .link-login {
                color: aliceblue;
                &:hover {
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
    button{
        color: #fff;
        background-color: $secondary-color;
        padding: 13px 35px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        border-radius: 16px;
        border: solid transparent 1px;
        transition : 0.7s;
        cursor: pointer;
    }
    button:not(:disabled):hover {
        transition : 0.7s;
        background-color: $secondary-color;
        color: #fff;
        border: solid #ffffff 1px;

    }
    button:disabled{
        background-color: red;
        cursor: not-allowed;
    }
    button:not(:disabled):active {
        position:relative;
        top:2px;
    }
    li {
        font-family: Openbold;
    }
}
