.client {
  display: flex;
  justify-content: space-around;

  &_informations {
    justify-content: flex-start;
  }

  &_address {
    
    display: flex;
    justify-content: flex-end;
  }
  &_modifications {
    display: flex;
    flex-direction: column;
    color: $secondary-color;

  }
}