@import "./form";

main {
    padding: 50px 0;
        section {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 50vh;
        }
    
        .box {
        position: relative;
        background-color: $secondary-color;
        padding: 25px;
        border-radius: 10px;
        margin: 5vh;
        h2 {
            color: #fff;
        }
        &_form {
              @include form(40vh)
        }   
    }
}