.dashboard {
  min-height:70vh;
  &_content {
    display: flex;
    margin-top: 5%;
    &_container {
      width: 100%;
    }
  }
}

.sidebar {
  border: 3px solid $secondary-color;
  border-radius: 15px;
  background-color:white;
  color: black;
  padding: 15px;
  margin: 0 1%;
  height: auto;
  &_profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    &_letter {
      padding: 20px 34px;
      border-radius: 10px;
      font-size: 2em;
      margin-bottom: 15px;
    }
    &_username {
      font-size: 1.1em;
    }
  }
  &_details {
    line-height: 2em;
  }
}

.tabs {
  color: light rgb(134, 134, 134);
  &:hover {
    color: $secondary-color;
  }
}

.disconnect {
  color: $secondary-color;
  &_icon::before {
  content: '\f2f6';
  font-family: fontAwesome;
  font-size: large;
  color: $secondary-color;
  margin-right: 5px;
  }
}

.active-link{
  color: $secondary-color;
  border-bottom: 3px solid $secondary-color;
}